:root {
  --max-width: 1100px;
  --font-family: sans-serif;

  --color-primary: #2a9d8f;
  --color-secondary: #264653;

  --color-white: #f8f9fa;
  --color-black: #212529;

  --input-padding: 0.6rem 1rem;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
